<%= render(:template => 'res/header') %>

<%= render(:template => 'res/menu', :locals => {
	:setMenuName => 'Galerija'
}) %>

<div class="galerija">
	<img src="<%=asset_path('gallery/cat10_2.jpg')%>" alt="cat10_2" title="cat10_2" />
	<img src="<%=asset_path('gallery/cat11_2.jpg')%>" alt="cat11_2" title="cat11_2" />
	<img src="<%=asset_path('gallery/cat12_2.jpg')%>" alt="cat12_2" title="cat12_2" />
	<img src="<%=asset_path('gallery/cat3_2.jpg')%>" alt="cat3_2" title="cat3_2" />
	<img src="<%=asset_path('gallery/cat4_2.jpg')%>" alt="cat4_2" title="cat4_2" />
	<img src="<%=asset_path('gallery/cat5_2.jpg')%>" alt="cat5_2" title="cat5_2" />
	<img src="<%=asset_path('gallery/cat6_2.jpg')%>" alt="cat6_2" title="cat6_2" />
	<img src="<%=asset_path('gallery/cat7_2.jpg')%>" alt="cat7_2" title="cat7_2" />
	<img src="<%=asset_path('gallery/cat8_2.jpg')%>" alt="cat8_2" title="cat8_2" />
	<img src="<%=asset_path('gallery/cat9_2.jpg')%>" alt="cat9_2" title="cat9_2" />
	<img src="<%=asset_path('gallery/pagrindine2_2.jpg')%>" alt="pagrindine2_2" title="pagrindine2_2" />
</div>